/previous_run
/workspace
.gitattributes
activations.tar.gz.zip
activations.tar.gz
results.zip
tar/new_data.tar.gz
__pycache__/
*.pyc
*.pyo
figures/*.pdffigures.zip
figures.zip
self_consistency.tar.gz
kv_shuffled.tar.gz